<a href="https://colab.research.google.com/github/devopsrudr/PythonForDataScience/blob/main/python_refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Types**

There are lots of different types of data in the world , and python groups that data into several categories.

**Boolean** (bool):

Any data which can be expressed as either True or False.
Used when comparing two values. For example, if you enter 10 > 9, Python will return True.

**String** (str):

Data that involves text â€” either letters, numbers, or special characters.
Strings are enclosed in either single- or double-quotation marks: "string-1" or 'string-2'.

**Numeric** (int, float, complex):

Data that can be expressed numerically.
An integer, or int, is a whole number, positive or negative, without decimals, of unlimited length: 123.
A floating-point number, or float, is a number, positive or negative, containing one or more decimals: 123.01.
A complex number, or complex, are imaginary numbers, designated by a j: (3 + 6j).


**Sequence**  (list, tuple, set):

Data that is a collection of discrete items.

A **list** is collection that is ordered and changeable. It's designated using square brackets [], and items can be of different data types: ["red", 1, 1.03, 1].
A **tuple** is a collection which is ordered and unchangeable. It's designated using parentheses (): ("red", 1, 1.03, 1).

A **set** is a collection which is unordered, unchangeable, and does not permit duplicate items. It's designated using curly brackets {}: {"red", 1, 1.03}.

**Mapping** (dict):

Dictionaries store data in key-value pairs. They're designated using curly brackets {}, like a set, but notice that keys and values are associated with each other using a colon :. Each pair is separated from the next using a comma ,.

In [1]:
basket = {1, 1, 1.0, "mango"}

In [3]:
print(basket)

{1, 'mango'}

In [4]:
dict1 = {
    "department": "quindio",
    "property_type": "house",
    "price_usd": 330899.98
}

print(dict1)

{'department': 'quindio', 'property_type': 'house', 'price_usd': 330899.98}

**Binary** (bytes, bytearray, memoryview):

Used to manipulate and display binary data. That is, data that can be expressed with integers represented with base 2.
Unlike the other data types described above, binary types are not human-readable.

**Lists**

In Python, a **list** is a collection of data that stores multiple items in a single variable. These items must be ordered, able to be changed, and can be duplicated. A list can store data of multiple types; not all the items in the list need to be the same type.

**Creating Lists**
Lists can be as long or as short as you like. Let's create a short list based on data from the Colombian real estate market to give us something to work with.

Lists are written with square brackets. Code for a short list that shows the price of houses in US dollars looks like this:

In [5]:
price_usd = [97919.38,300511.20, 293758.14]

In [6]:
print(price_usd)

[97919.38, 300511.2, 293758.14]

**Working with Lists**

After you've created a list, you can access any item on the list by referring to the item's index number. Keep in mind that in Python, the first item in a list is always 0.

Let's access the second item of our price_usd list.

In [7]:
print(price_usd[1])

300511.2

**Practice**

Try it yourself! Create and print a list that shows the area of the houses, called area_m2. Include the items 187.0, 82.0, and 235.0.

If we want to access the an item at the end of the list, we can use **negative indexing**. In negative indexing, -1 refers to the last item, -2 to the second to last, and so on.

Let's access the last item in our price_usd list.

In [8]:
print(price_usd[-1])

293758.14

**Practice**

Try accessing the second item in your area_m2 list.

Try accessing the last item in the same list.

**Appending Items**
It's also possible to add an item to a list that already exists using the append method like this:

In [12]:
price_usd.append(540244.86)
print(price_usd)

[97919.38, 300511.2, 293758.14, 540244.86, 540244.86, 540244.86, 540244.86]

**Practice**

Add the item 195.0 to your area_m2 list.

**Aggregating Items**

We can also **aggregate** items on a list to make analyzing the list more useful. For example, if we wanted to know the total value in US dollars of the houses on our price_usd list, we could use the sum method.

In [13]:
total_usd = sum(price_usd)
print(total_usd)

2853168.1599999997

We might also be interested in the average value in US dollars of the houses on the same list. To find the average, we add the **len** method to the **sum** method

In [14]:
average_usd = sum(price_usd)/ len(price_usd)
print(average_usd)

407595.45142857137

**Practice**

Try it yourself! Calculate the total area of the houses on your  **area_m2** list, and find the average area of all the houses on the list.

**Zipping Items**

Finally, it might be useful to combine -- or **zip** -- two lists together. For example, we might want to create a new list that pairs the values in our price_usd list with our area_m2 list. To do that, we use the zip method. The code looks like this:

You might have noticed that the above code involving putting one list (in this case, new_list) inside another list (in this case, list). This approach is called a **generator**, and we'll come back to what that is and how it works later in the course.

In [ ]:
new_list = zip(price_usd, area_m2)
zipped_list = list(new_list)
print(zipped_list)

**Practice**

Try it yourself!
 Create a list called area_m2 that includes the terms 235.0, 130.0, and 137.0, then create another list called price_cop that includes the terms 400000000.0, 850000000.0, and 475000000.0. Then zip them together to create a new list called area_price, and print the result.

**Python for Loops**

A for Loop is used for executing a set of statements for each item in a list.

**Working with for Loops**

There can be as many statements as there are items in the list, but to keep things manageable, let's use our list of real estate values in Colombia.

In [15]:
price_usd = [97919.38, 300511.20, 293758.14, 540244.86]
print(price_usd)

[97919.38, 300511.2, 293758.14, 540244.86]

We might want to see each of the values in the list, so we insert a **for** Loop:

In [16]:
price_usd = [97919.38, 300511.20, 293758.14, 540244.86]
for x in price_usd:
  print(x)

97919.38
300511.2
293758.14
540244.86

Note that the **print** command is indented.

**Practice**

Try it yourself using the area_m2 list:

**Python Dictionaries**

In Python, a **dictionary** is a collection of data that occurs in an order, is able to be changed, and does not allow duplicates. Data in a dictionary are always presented as **keys** and **values**, and those key-value pairs cannot be duplicated in the dataset.

**Creating Dictionaries**

Dictionaries can be as big or as small as you like. Let's create a small dictionary based on data from the Colombian real estate market to give us something to work with.

Dictionaries are written with curly brackets, with key-value pairs inside. Code for a small dictionary looks like this:

In [17]:
colomdict = {
    "department": "quindio",
    "property_type": "house",
    "price_usd": 330899.98
}

print(colomdict)

{'department': 'quindio', 'property_type': 'house', 'price_usd': 330899.98}

**Practice**

Try it yourself! Create and print a dictionary called bogota with the key-value pairs "price_usd": 121,555.09, "area_m2": 82.0, and "property_type": "house"

In [19]:
bogota = {
    "price_usd": 121555.09,
    "area_m2": 82.0,
    "property_type": "house"
}

print(bogota)

{'price_usd': 121555.09, 'area_m2': 82.0, 'property_type': 'house'}

**Working with Dictionaries**

After you've created a dictionary, you can access any item by using its key name inside square brackets.

Going back to our example dictionary, let's access the value for "department".

In [20]:
x = colomdict["department"]
print(x)

quindio

**Practice**


Try accessing the value for price_usd in the BogotÃ¡ dictionary you created above.

You can also use **`get`** to retrieve a value. That looks like this:

In [21]:
x = colomdict.get("department")
print(x)

quindio

**Practice**


Now try accessing the value for area_m2 using the get method, and print the result.

**Dictionary Keys**

Sometimes you want to know what the keys are in the dictionary, or you want to iterate through the dictionary. In such cases, you need to write code to access all keys in a dictionary by utilizing the keys method:

In [22]:
colomdict.keys()

dict_keys(['department', 'property_type', 'price_usd'])

If you need to use the keys in a list, you can transform the output:

In [23]:
list(colomdict.keys())

['department', 'property_type', 'price_usd']

You can also iterate though colomdict.keys() without converting it to a list:

In [24]:
for k in colomdict.keys():
  print(k)

department
property_type
price_usd

**Practice**


print the value of each key in the colomdict dictionary

**JSON**

JSON stands for Java Script Object Notation, and it's a text format for storing and transporting data.

**Working with JSON**

JSON works by creating **key-value pairs**, where the key is data that can be represented by letters (called a **string**). JSON values can be strings, numbers, objects, arrays, boolean data, or null. JSON usually comes as a list of dictionaries, which look like this:

Here's an example from our colombia-real-estate-1 dataset with two key-value pairs that both include string values:

In [25]:
[
    {"property_type": "house", "department": "bogota"},
    {"property_type": "house", "department": "bogota"},
    {"property_type": "house", "department": "bogota"},
]

[{'property_type': 'house', 'department': 'bogota'},
 {'property_type': 'house', 'department': 'bogota'},
 {'property_type': 'house', 'department': 'bogota'}]

Here's an simplified example from our colombia-real-estate-1 dataset with two key-value pairs that both include string values:

In [26]:
{"property_type": "house", "department": "bogota"}

{'property_type': 'house', 'department': 'bogota'}

JSON pairs with numbers look like this:

In [ ]:
{"area_m2": 187.0, "price_usd": 330899.98}

When you mix more than one type of value, it looks like this:

In [27]:
{"property_type": "house", "price_usd": 330899.98}

{'property_type': 'house', 'price_usd': 330899.98}