### 2.1 Python Lists

- A data structure used to store multiple data points in one location. Example: List of marks of all the students in your class.

In [1]:
# How to create a list? -----> Square brackets

[84, 93, 44, 78, 22]

[84, 93, 44, 78, 22]

In [2]:
# Store the list as a variable

marks = [84, 93, 44, 78, 22]
marks

[84, 93, 44, 78, 22]

- Values inside the list can have any data type: integer, float, boolean, string etc.

In [3]:
a = [2.2,3.5,6.7]
a

[2.2, 3.5, 6.7]

In [4]:
b = ['everyday','data','science']
b

['everyday', 'data', 'science']

- values inside the list can have any combination of these data types as well.

In [5]:
c = ['Everyday Data Science', 2200, 2.63]
c

['Everyday Data Science', 2200, 2.63]

- A list can also have a list inside itself. It's called Nested lists.

In [6]:
d = ['Sachin',[100,25]]
d

['Sachin', [100, 25]]

- List of Lists

In [7]:
scores = [['Sachin',150],
         ['Kohli', 112],
         ['Dhoni',76]]

scores

[['Sachin', 150], ['Kohli', 112], ['Dhoni', 76]]

In [8]:
type(scores)

list

### 2.2 Accessing data from Lists

> If you are given a list or you just created a list, how do you access data from a list?

In [ ]:
# index of lists ----> starts with 0, called zero-indexing

marks = [84, 93, 44, 78, 22]

In a list called "marks":

- at position 0, value stored = 84
- at position 1, value stored = 93
- at position 2, value stored = 44
- at position 3, value stored = 78
- at position 4, value stored = 22

> To get value from nth position of list = list_name[n-1]

In [9]:
# Third element from list marks

marks[2]

44

In [10]:
# Count backwards ; very useful when you don't know the length of the list but want last
# element

marks[-1]

22

In [11]:
# Count from front or backwards, it gives you same result

marks[4] == marks[-1]

True

In [12]:
first_value = marks[0]
last_value = marks[-1]

print(first_value)
print(last_value)

84
22

In [13]:
#. can also do all the arithmetic

marks[0] + marks[1]

177

In [14]:
# accessing list of lists

scores = [['Sachin',150],
         ['Kohli', 112],
         ['Dhoni',76]]

In [15]:
scores[0]

['Sachin', 150]

In [16]:
scores[0][0]

'Sachin'

In [17]:
scores[2][1]

76

### 2.3 Slicing Lists

> Used to select a smaller subset of a large set.
- use ':' to give the range of index you want values from.

In [18]:
marks = [84, 93, 44, 78, 22]

In [19]:
# 2nd to 4th element

marks[1:3]

[93, 44]

In [20]:
marks[1:4] #get the values from list marks from index 1 to 4 but excluding 4.

[93, 44, 78]

In [ ]:
# [ start     :    end ]
# included      excluded

# The start index will be included, while the end index is not.

In [21]:
# getting lazy

marks[:3] #start from the beginning, go to index 3 but exclude value at index 3

[84, 93, 44]

In [22]:
marks[2:] #start from index 2 and go till the end

[44, 78, 22]

- If you don't specify the start index, Python figures out that you want to start your slice at the beginning of your list. If you don't specify the end index, the slice will go all the way to the last element of your list.

In [23]:
# slicing list of lists

scores = [['Sachin',150, 120],
         ['Kohli', 112, 23],
         ['Dhoni',76, 34]]

In [24]:
scores[1]

['Kohli', 112, 23]

In [25]:
scores[1][1:]

[112, 23]

### 2.4 Manipulating Lists: Replace, Extend, Delete values from list

In [26]:
# Replace values in a list

marks = [84, 93, 44, 78, 22]

In [27]:
marks[-1] = 32
marks

[84, 93, 44, 78, 32]

In [28]:
# Replace multiple values in a list at a time

marks[0:2] = [93, 84]
marks

[93, 84, 44, 78, 32]

In [29]:
# Extending lists

marks + 10

TypeError: can only concatenate list (not "int") to list

In [30]:
marks + [10]

[93, 84, 44, 78, 32, 10]

In [31]:
# Deleting an element from the list

del(marks[-1])
marks

[93, 84, 44, 78]

### 2.5 Bonus: How to CORRECTLY copy a list?

In [32]:
a = [10,20,30]
a

[10, 20, 30]

In [34]:
b = a
b

[10, 20, 30]

In [35]:
b[2]=32
b

[10, 20, 32]

In [36]:
a

[10, 20, 32]

- WHY? This is because when we write a = [10,20,30], a stores the address of your computer memory which has values [10,20,30]. So, when you write b = a, now b also stores the same address of your computer memory. If you change b, you are changing the values in the address, so since a also references to same address, we see that list a also changed.

In [37]:
# How to properly copy/duplicate a list then?

a = [10,20,30]

b = list(a) #Method 1
b[2] = 32
print("a: ",a)
print("b: ",b)

a:  [10, 20, 30]
b:  [10, 20, 32]

In [38]:
a = [10,20,30]

b = a[:] #Method 2
b[2] = 32
print("a: ",a)
print("b: ",b)

a:  [10, 20, 30]
b:  [10, 20, 32]